# Environment variables
.env

# Virtual environments
venv/
env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db

# Backup files
*.bak
*~
* - Copia.ipynb
* - Copia*